"sup"

<script src='https://connect.humanapi.co/connect.js'></script>

<img id='connect-health-data-btn' src='https://connect.humanapi.co/assets/button/blue.png'/>

<button class="display_data">Display</button>

<script>
            var connectBtn = document.getElementById('connect-health-data-btn');
            connectBtn.addEventListener('click', function(e) {
              var opts = {
                // grab this from the app settings page
                clientId: '985312a42cd462eb4f6b6a573730924a8deaead6',
                // can be email or any other internal id of the user in your system
                clientUserId: '7777777',
                finish: function(err, sessionTokenObject) {
                	console.log(sessionTokenObject)
                	
                	$.ajax({
                		url: '/apis/test',
                		method: 'POST',
                		data: {sessionTokenObject: sessionTokenObject, client_secret: '5b7393828121ee2a723be272f59a10d12d1f9d84'}
                	}).done(function(data){
                		console.log(data)
                	})
                  // When user finishes health data connection to your app
                  // `finish` function will be called.
                  // `sessionTokenObject` object will have several fields in it.
                  // You need to pass this `sessionTokenObject` object to your server
                  // add `CLIENT_SECRET` to it and send `POST` request to the `https://user.humanapi.co/v1/connect/tokens` endpoint.
                  // In return you will get `accessToken` for that user that can be used to query Human API.
                },
                close: function() {
                  // do something here when user just closed popup
                  // `close` callback function is optional
                }
              }
              HumanConnect.open(opts);
            });


          $('.display_data').on('click', function() {
            $.ajax({
              url: '/apis/show',
              method: 'GET'
            }).done(function(data){
              
              var i;
              $('body').append("<ul></ul>")
              for (i=0; i<data.length; i++) {
                $('ul').append("<li>" + data[i].distance + "</li><li>" + data[i].startTime + "</li><li>" + data[i].endTime + '</li>')
              }
              debugger

          })
          })
          
</script>